*{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display:flex;
    box-shadow: 0 0 10px gray;
    height:30px;
    padding: 10px;
}
header div {
    flex:1;
    display:flex;
}
header div.logo{
font-size: 30px;

}
section.capa{
    background:rgb(241 241 241);
    width: 100%;
    min-height:20vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#5f6
}
section.capa svg{
    width:10%;
    fill:#5f6   ;
}
section.conteudo{
    padding-left: 10px;
}
section.conteudo div{
    margin-top:20px;
}
section.conteudo h2{
    margin-bottom:10px;
}
section.conteudo code{
    background: rgb(161, 150, 123);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top:10px;
    font-family: monospace;
}
section.rodape{
    position:relative;
    bottom: -100px;
}